extends layout

block content
	h2= 'Welcome, ' + name
	.container.container--raised
		h2 Domain Information
		table.table
			tbody
				tr
					td.table__cell.table__cell--label Domain:
					td.table__cell.table__cell--data
						if domain
							a( href=domain.link.toLowerCase() )
								= domain.code + ': ' + domain.name
						else
							| None
