doctype html
html
    head
        meta(charset='UTF-8')
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='icon', href='/favicon.ico')
    body
        header.header
            block header
                a.header__branding(href='/')
                p.header__menu-user
                    strong Welcome, User
                    br
                    a(href='/user/view') View Account
                    |  | 
                    a(href='/logout') Log Off
                    
                nav.header__nav
                    ul.header__nav-menu
                        li.header__nav-item: a.header__nav-link(href='/') Home
                        li.header__nav-item: a.header__nav-link(href='#') My Account
                        li.header__nav-item: a.header__nav-link(href='/user/view') My Information

        .main
            block content

        footer.footer
            block footer
                p.footer__left: a(href='http://www.mindseyesociety.org/about-us/faqs/', target='_blank') Questions? Problems? Click here.
                p.footer__right
                    a(href="/privacy") Privacy Policy
                    |  | v2.0
