// Header
.header
    position relative
    height 180px

    // Branding image
    &__branding
        background-image url( '/images/site-header.png' )
        width size-body
        height 190px
        display block

    // Top right menu
    &__menu-user
        text-align right
        absolute top 0.5rem right 0
        font .9em / 1.5rem font-sans
        color color-light

        a
            @extends $common-simple-link

    // Navigation
    &__nav
        position relative
        top -67px
        font 13px 'Century Gothic', Futura, 'URW Gothic L', Verdana, sans-serif

        &-menu
            display flex
            padding .25rem

        &-link
            display block
            padding .25rem 1rem

            &,
            &:hover
                color color-light

            &:hover
                background-color color-hover

// Footer
.footer
    margin-top 1rem
    color color-light

    &__child
        overflow hidden
        padding 1rem

    a
        @extends $common-simple-link

    p
        margin 0

    &__left
        float left

    &__right
        float right
